

body {
    background-color:black
}

.title {
    margin-left: 30px;
    margin-top: 40px;
    text-decoration-line: none;
}
a:link {
    color: white;
}

a:visited {
    color:  white;
}

a {
    text-decoration-line:none;
}

.title_2 {
    text-align: right;
    margin-right: 25px;
}

.dropdown{
    position : relative;
    display : inline-block;
    margin-right: 15px;
    width: 10px;
  }
 
  .dropbtn{
    color: white;
  }

  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
  }
  
  /* display의 none 처리는 a태그의 link1 link2 link3이 보이지 않도록 하기 위해 설정한 것이고, 
  position의 속성값을 absolute로 설정한 이유는 원하는 위치를 지정해 배치하기위해 설정한 속성값이다. 
  z-index는 쉽게 설명하자면 속성값에 1을 넣으면 a라는 박스가 제일 앞에 나와 보이게 된다 2라는 속성값을 넣으면
  b라는 박스가 a 박스보다 앞으로 나오게 된다. 즉, 창을 순서대로 배치하는 스타일 인것이다.*/

  .dropdown-content a{
    display : block;
    width: 250px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #nav {
    margin-left: 50px;
    margin-top: 30px;
  }

  .main {
    text-align: center;
    display:block;
    margin:auto;
    margin-top: 40px;
  }

  .main_p {
    width: 450px;
    height: 380px;
    border-radius: 20%;
  }

  .img_t {
    width: 10%;
    padding:10px;
    transition: all 0.2s linear
  }

  .img_t:hover {
    transform:scale(1.4);
  }
  /* transition css를 추가해서 사진에 마우스를 올리면 확대가 되어 더 크게 볼수 있도록 설정
    transform은 사진이 확대될때 부드럽게 확대 되게 하기 위새허서 설정한 css */